/* Poppins Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Utilities or Common Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 870px;
    /* height: 679px; */
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 30px;
    margin-top: 21px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* Tob Bar Style */
.top-bar{
    background-color: #562EFF;
    height: 84px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.idea{
    display: flex;
    align-items: center;
}
.idea img{
    width: 41px;
    height: 51px;
}
.idea h3{
    color: #FFFFFF;
    font-size: 24px;
    margin-left: 10px;
}
.menu{
    display: flex;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-top: 12px;
}
ul li a{
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}
ul li a:hover{
    color: lightgray;
}
/* Top Players Style */
.player-title{
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
    margin-bottom: 40px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-bottom: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player h3{
    margin-left: 16px;
    font-size: 18px;
}
/* Top Blog */
.top-blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
    grid-column-gap: 79px;
}
.blog-title{
    font-size: 24px;
    color: #562EFF;
}
.blog{
    display: flex;
    /* align-items: center; */
}
.blog .blog-thumbnail img{
    width: 177px;
    height: 117px;
}
.blog .blog-details{
    margin-left: 16px;
}
.blog-details h3{
    font-size: 20px;
    margin-bottom: 6px;
    margin-top: 0;
}
.blog-details .blog-author{
    color: #9F9F9F;
    font-size: 16px;
    margin-top: 0;
}
.blog-details .blog-author a{
    color: #562EFF;
    text-decoration: none;
}
/* Latest Course */
.latest-title{
    font-size: 24px;
    color: #562EFF;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 53px;
}
.course-thumbnail img{
    width: 224px;
    height: 104px;
}
.course-details h3{
    font-size: 20px;
}
.course-details p{
    color: #ED6B4F;
}
.course-info{
    display: flex;
    justify-content: space-between;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #A2A2A2;
}
.rating{
    color: #A2A2A2;
}
.course-duration{
    color: #ED6B4F;
    background-color: #FFE4E8;
    border-radius: 15px;
    padding: 0 4px;
}
/*---------------------
     Responsiveness 
-----------------------*/
/* Responsive for mobile device */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .top-blog, .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .player{
        flex-direction: column;
    }
    .course-duration{
        margin-right: 20px;
    }
}
/* Responsive for tablet device */
@media only screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .players, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .top-blog{
        grid-template-columns: repeat(1, 1fr);
    }
    .courses{
        grid-row-gap: 30px;
    }
    .course-details{
        margin-right: 90px;
    }
    .course-duration{
        margin-right: 20px;
    }
}